 @font-face {
   font-size: Inter;
   font-weight: 400;
   src: url('../fonts/inter-v13-cyrillic_latin-regular.woff2');
 }

 @font-face {
   font-size: Inter;
   font-weight: 900;
   src: url('../fonts/inter-v13-cyrillic_latin-900.woff2');
 }

 html {
   position: relative;
   box-sizing: border-box;
 }

 *,
 *::before,
 *::after {
   box-sizing: inherit;
 }

 body {
   position: relative;
   overflow-x: hidden;
   min-width: 320px;
   min-height: 100vh;
   font-family: Inter, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeLegibility;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   font-size: 20px;
   color: #292D32;
   background-color: #fff;
   line-height: 1.2;
   letter-spacing: 0.02em;
 }


 img,
 svg {
   display: block;
   max-width: 100%;
   height: auto;
 }

 svg {

   max-height: 100%;

 }


 button {
   padding: 0;
   cursor: pointer;
   border: none;
   background-color: transparent;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 h1,
 h2,
 h3,
 p,
 figure,
 fieldset {
   margin: 0;
 }

 iframe {
   border: none;
 }

 footer {

   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 80px;



 }

 /*
  Доступно скрываю элементы
  */

 .visually-hidden {
   position: fixed;
   transform: scale(0);
 }


 /*
  Пример контейнера
  
  Если контейнер 1180px по макету,
  то для max-width прибавляем паддинги 30px*2, 
  в итоге 1240px
  Чтобы контент не прижимался к краям экрана
  */

 .container {
   --container-width: 1260px;
   --container-offset: 30px;
   max-width: calc(var(--container-width) + var(--container-offset) *2);
   padding: 0 var(container-offset);
   margin: 0 auto;
 }

 .header {
   padding: 32px 0 24px;
 }

 .header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .header__link {}

 .header__logo {
   width: 240px;
 }

 .header__link_favorite {
   display: flex;
   align-items: center;
   gap: 4px;
   font-size: 16px;
   letter-spacing: 0.02em;
 }

 .header__icon {
   width: 20px;
   height: 20px;
 }


 .hero {
   padding: 60px 0 80px;
   background: #FF6A00 url('../img/bg.jpg') center/cover;
   color: #fff;
   margin-bottom: 32px;

 }

 .hero__container {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .hero__link {
   position: absolute;
   padding-right: 15px;
   top: -16px;
   right: 0;
   ;
   display: flex;
   align-items: center;
   gap: 4px;
   letter-spacing: 0.02em;

 }

 .hero__icon {
   width: 20px;
   height: 20px;
 }

 .hero__logo {
   width: 240px;
   height: 32px;
   margin-bottom: 80px;
 }

 .hero__title {
   color: #FFF;
   text-align: center;
   font-size: 70px;
   font-style: normal;
   font-weight: 900;
   letter-spacing: 0.02em;
   margin-bottom: 40px;
 }

 .hero__tagline {
   font-size: 20px;
   letter-spacing: 0.02em;
   text-align: center;
 }

 .search__form {
   width: 100%;
   position: relative;
 }

 .search__input {
   width: 100%;
   border-radius: 40px;
   border: 1px solid #FB9953;
   padding: 10px 124px 10px 24px;
   outline: none;
   font-size: 16px;
   letter-spacing: 0.02em;
 }

 .search__input::placeholder {
   color: #292D32;
   letter-spacing: 0.02em;
 }

 .search__btn {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   padding: 8px 16px;
   display: flex;
   align-items: center;
   border-radius: 40px;
   background: #FF6A00;
   color: #fff;
   font-size: 16px;
   letter-spacing: 0.02em;
 }

 .search__icon {
   width: 20px;
   height: 20px;
 }


 .video-list {
   padding-bottom: 90px;
   padding: 80px 0;
 }

 .video-list__title {
   color: #292D32;

   font-size: 40px;
   font-weight: 900;
   letter-spacing: 0.02em;
   margin-bottom: 40px;
 }

 .video-list__items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 40px 12px;

 }

 .video-card {
   padding-bottom: 90px;
   position: relative;
 }

 .video-card__thubnail {
   width: 100%;
   border-radius: 16px;
   margin-bottom: 12px;

 }

 .video-card__title {
   font-size: 24px;
   font-weight: 900;
   letter-spacing: 0.02em;
   margin-bottom: 10px;
 }

 .video-card__chanel {
   font-size: 20px;
   letter-spacing: 0.02em;
   margin-bottom: 10px;
 }

 .video-card__duration {
   font-size: 16px;
   font-weight: 400;
   letter-spacing: 0.02em;
 }

 .video-card__favorite {
   position: absolute;
   top: 12px;
   right: 12px;

 }

 .video-card__icon {
   width: 20px;
   height: 20px;

 }

 .video-card__favorite .star {
   display: none;

 }


 .video-card__favorite_active .star {
   display: block;

 }


 .video {
   position: relative;
   min-height: 100%;
   padding-top: 80px;
 }

 .video__player {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   owerflow: hidden;
   margin-bottom: 32px;
 }

 .video__iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 16px;
 }

 .video__container {

   display: flex;
   justify-content: space-between;
   gap: 34px;
 }
.video__content{
  max-width: 1048px;
}
 .video__title {
   color: #292D32;
   font-size: 40px;
   font-weight: 900;
   letter-spacing: 0.02em;
   margin-bottom: 24px;
 }

 .video__channel {
   color: #292D32;


   font-size: 24px;
   letter-spacing: 0.02em;
   margin-bottom: 24px;
 }

 .video__info {
   color: #292D32;
   font-size: 24px;
   letter-spacing: 0.02em;
 }

 .video__views {}

 .video__description {
   color: #292D32;
   font-size: 24px;
   letter-spacing: 0.02em;
 }

 .video__link {
  align-self: start;
  flex-shrink: 0;
   width: max-content;
   white-space: nowrap;
   display: flex;
   gap: 4px;
   font-size: 16px;
   letter-spacing: 0.02em;
   align-items: center;

 }

 .video__link_active {}

 .video__link .video__no-favorite {
   display: block;
 }

 .video__link .video__favorite {
   display: none;
 }

 .video__link_active .video__no-favorite {
   display: none;
 }

 .video__link_active .video__favorite {
   display: block;
 }

 .video__icon {
   width: 20px;
   height: 20px;
 }


 .footer {
   height: 120px;
   background: #FF6A00 url('../img/bgf.jpg');
   background-size: cover;

 }

 .footer__container {
display: grid;
grid-template-columns: 360px max-content;
align-items: center;
gap: 16px 30px;
justify-content: space-between;

 }

 .footer__link {
   text-align: center;
   width: 360px;
   height: 48px;
 }
 .footer__developers-item:hover {
  color: #ccc;

 }


 .hero__logo {
   width: 360px;
   height: 48px;
 }


 .footer__authors {
  padding-right: 15px;
   padding-top: 16px;
   display: flex;
   flex-direction: column;
   gap: 16px;

 }

 .footer__developers-item {
   color: #FFF;

   font-family: Inter;
   letter-spacing: 0.02em;
 }

 .footer__copyright {
  padding-right: 15px;
  font-size: 16px;
   color: #FFF;
   font-size: 16px;
   letter-spacing: 0.02em;
 }
 .footer__developers-list{
  font-size: 16px;
 }


 @media(width <=1024px) {
   .container {
     --container-width: 942px;
   }

   .hero {
     padding: 40px 0 58px;
   }

   .hero__logo {
     width: 200px;
     margin-bottom: 45px;

   }

   .hero__title {
     font-size: 50px;
     margin-bottom: 32px;
   }

   .video-list {
     padding: 60px 0;
   }
   .video-list__items{
    row-gap: 32px;
   }

   .video-list__title {
     font-size: 32px;
     margin-bottom: 40px;
   }

   .video-card__title {
    font-size: 24px;
   }

   .video-card__chanel {
    font-size: 20px;
   }

   .video-card__duration {
    font-size: 16px;
   }


   .video {
    padding-top: 60px ;

  }
  .video__content {
    max-width: 730px;

  }

  .video__title {
    font-size: 32px;
    margin-bottom: 24px;

  }

  .video__channel {
    font-size: 20px;
    margin-bottom: 20px;
  }
 
  .video__info{
    font-size: 20px;

  }
  .video__description {
    font-size: 20px;
  }
 
.footer{
  
  height: 100px;
}
.footer__developers-list{
  font-size: 14px;
 }

 }
 @media (width <= 768px) {
  .container{
    --container-width: 624px;
  }
  .hero__link-text, .header__link-text {
    position: fixed;
    transform: scale(0);
  }

  .hero{
    padding-bottom: 42px ;
  }
  .hero__title{
    font-size: 40px;
  }
  .video-list__items{
    grid-template-columns: repeat(2, 1fr);

  }
  .video{
    padding-top: 40px;
  }
  .video__container{
    flex-direction: column-reverse;
    gap: 24px;
  }
  .video__player {
    margin-bottom: 24px;
  }
  .footer{
  
    height: 100px;
  }
  .footer__developers-list{
    font-size: 14px;;
   }
 
 }
 @media(width <= 540px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
    --container-offset: 11px;
  }
  .hero{
    padding: 16px 0 32px;
    margin-bottom: 20px;
  }
  .hero__container{
    display: grid;
    justify-content: space-between;
    align-items: center;

  }
  .hero__logo{
    width: 145px;
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 0;
  }
  .hero__link{
    position: static;
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: end;
  }
  .hero__title{
font-size: 24px;
grid-column: 1/3;
margin-bottom: 0;
padding: 25px 0 20px;
  }
  .hero__tagline{
    grid-column: 1/3;
    font-size: 16px;

  }
  .header__logo{
    max-width: 145px;

  }

  .video-list {
    padding: 40px 0 60px;

  }
 
  .video-list__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .video-list__items {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .video-card__title {
    font-size: 18px;
  }
  .video-card__chanel {
    margin-bottom: 6px;
    font-size: 16px;
  }
  .video-card__duration {
    font-size: 14px;
  }
  .video-card {
    padding-bottom: 20px;
    position: relative;
  }
 
  
  .video__player {
    margin-bottom: 20px;
  }
 
 
  .video__title {
    font-size: 24px;
    margin-bottom: 16px;

  }

  .video__channel {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .video__info {
    font-size: 16px;
  }

  .video__description {
    font-size: 16px;
  }

  .footer__developers-list{
    font-size: 14px;
   }
   .video-card{
    margin-bottom: 20px;
   }
   
   .footer {
   display: none;
    height: 120px;
    background: #FF6A00 url('../img/bgf.jpg');
    background-size: cover;
 
  }
 
  .footer__container {
  
 display: flex;
flex-direction: column;
align-items: center;
 justify-content: center;
 
  }
 
  .footer__link {
    text-align: center;
    width: 360px;
    height: 48px;
  }
  .footer__developers-item:hover {
   color: #ccc;
 
  }
 
 
  .hero__logo {
    width: 180px;
height: 24px;
  }
 
 
  .footer__authors {
   padding-right: 0px;
    padding-top: 0px;
    display: block;
    gap: 16px;
 
  }
 
  .footer__developers-item {
    color: #FFF;
 
    font-family: Inter;
    letter-spacing: 0.02em;
  }
 
  .footer__copyright {
   padding-right: 15px;
   font-size: 16px;
    color: #FFF;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .footer__developers-list{
   font-size: 14px;
  }
 
 
 }